{% extends "blog/base.html" %}

{% block content  %}
    <div class="container-fluid ">
        <div class="row">
            <h2 >{{blog_title}}</h2>
        </div>
        <div class="row m-3">
            <div class="col-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://via.placeholder.com/300" class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">Post title</h5>
                                <p class="card-text">Some quick example text for the post's content.</p>
                                <div class="d-flex justify-content-between">
                                     <a href="./detail.html">Read More</a>
                                    <a class="text-decoration-none text-dark fw-bold" href="#">Sports</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://via.placeholder.com/300" class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">Post title</h5>
                                <p class="card-text">Some quick example text for the post's content.</p>
                                <div class="d-flex justify-content-between">
                                     <a href="./detail.html">Read More</a>
                                    <a class="text-decoration-none text-dark fw-bold" href="#">Development</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://via.placeholder.com/300" class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">Post title</h5>
                                <p class="card-text">Some quick example text for the post's content.</p>
                                <div class="d-flex justify-content-between">
                                     <a href="./detail.html">Read More</a>
                                    <a class="text-decoration-none text-dark fw-bold" href="#">Engineering</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://via.placeholder.com/300" class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">Post title</h5>
                                <p class="card-text">Some quick example text for the post's content.</p>
                                <div class="d-flex justify-content-between">
                                     <a href="./detail.html">Read More</a>
                                    <a class="text-decoration-none text-dark fw-bold" href="#">Kids</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://via.placeholder.com/300" class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">Post title</h5>
                                <p class="card-text">Some quick example text for the post's content.</p>
                                <div class="d-flex justify-content-between">
                                     <a href="./detail.html">Read More</a>
                                    <a class="text-decoration-none text-dark fw-bold" href="#">Design</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://via.placeholder.com/300" class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">Post title</h5>
                                <p class="card-text">Some quick example text for the post's content.</p>
                                <div class="d-flex justify-content-between">
                                     <a href="./detail.html">Read More</a>
                                    <a class="text-decoration-none text-dark fw-bold" href="#">Movies</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 my-3">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                <span aria-hidden="true">&laquo; first</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="Previous">
                                <span aria-hidden="true">previous</span>
                            </a>
                        </li>
                        <li class="page-item"><span class="page-link">Page 3 of 20.</span></li>
                        <li class="page-item">
                            <a class="page-link" href="?page=4" aria-label="Next">
                                <span aria-hidden="true">next</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page=20" aria-label="Last">
                                <span aria-hidden="true">last &raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                
            </div>
        </div>
        <div class="row">
           
        </div>
        
    </div>
{% endblock %}